.work-container {
    position: relative;
    width: calc(33.33% - 10px);
    height: 250px;
    margin: 50px 0 0;
    object-fit: cover;
    border: 3px solid black;
    box-sizing: border-box;
    padding: 5px;
    float: left;
  }
  
  .work-container:nth-child(3n+1) {
    clear: left;
  }
  
  .work-container h3 {
    padding: 5px;
    position: absolute;
    bottom: 3;
    line-height: 1.2;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 1; /* added z-index */
  }
  
  .work-container img {
    filter: brightness(80%);
    border: 2px solid white;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .work-container img:hover {
    filter: brightness(100%);
  }
  
  .work-container p {
    font-size: 20px;
    padding: 5px;
    position: absolute;
    bottom: 0%;
    line-height: 2px;
  }
  
  .work-container p a {
    color: white;
  }
  
  .work-container p a:hover {
    color: black;
  }

  .work-container:nth-last-child(-n+3) {
    margin-bottom: 5px;
  }

  h3{
    color: white;
  }

